$primary_purple: #B66FB3;
$babyblue: #BBBDF6;
$ceramic: #E5D4ED;
$tarmac: #3C3744;
$plum: #36083F;

.event-option-selector {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;


  button {
    width: stretch;
    padding: 0.5rem 1rem;
    background-color: $tarmac;
    color: $ceramic;
  }
}

#form-container {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    label {
      width: 25%;
    }

    input {
      width: 50%;
    }

    textarea {
      width: 50%;
    }
  }
}

.admin-banner {
  margin-bottom: 1rem;
}