$primary_purple: #B66FB3;
$babyblue: #BBBDF6;
$ceramic: #E5D4ED;
$tarmac: #3C3744;
$plum: #36083F;

.event-option-selector {
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin: 0 auto;


  button {
    width: stretch;
    padding: 0.5rem 1rem;
    background-color: $tarmac;
    color: $ceramic;
  }
}

.event-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  button {
    width: auto;
    min-width: 25%;
    padding: 1rem;
  }
}

#form-container {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  width: 100vw;

  form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    label {
      width: 25vw;
    }

    input {
      width: 50vw;
    }

    textarea {
      width: 50vw;
    }
  }
}