@import './colours.scss';

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-size: 1rem;
  transition: 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) all;

  &::-webkit-scrollbar {
    display: none;
  }
}

.page-wrapper {
  width: 100%;
  height: 100vh;
  background: $babyblue;
}

.content-wrapper {
  padding: 1rem 0;
  background: $ceramic;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 5rem;
  background: $babyblue;

  p {
    background: rgb(60, 55, 68);
    border-radius: 0.5rem;
    color: $ceramic;
    padding: 1rem;
  }
}

.services-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  * {
    font-size: 1.25rem;
  }

  .services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;

    .service-card {
      min-width: 25%;
      max-width: 50%;
      text-align: center;
      padding: 0.5rem;
      background: $babyblue;
      border: 0.25rem solid $otherblue;
      border-radius: 0.5rem;

      * {
        padding: 1rem;
        border-bottom: 0.25rem solid $otherblue;
      }

      .service-desc {
        font-size: 1rem
      }

      .service-cost {
        font-size: 2rem;
      }
    }
  }
}

.events {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;

  .event-card {
    text-align: center;
    padding: 0.5rem;
    background: $babyblue;
    border: 0.25rem solid $otherblue;
    border-radius: 0.5rem;
    width: 45%;

    * {
      padding: 1rem;
      border-bottom: 0.25rem solid $otherblue;
    }

    .event-desc {
      font-size: 1rem
    }

    .event-loc {
      font-size: 2rem;
    }
  }
}

.page-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: rgb(255, 255, 255);
}

.event-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  button {
    width: auto;
    min-width: 25%;
    padding: 1rem;
  }
}

.service-buttons {
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin: 0 auto;

  button {
    width: stretch;
    padding: 0.5rem 1rem;
    background-color: $tarmac;
    color: $ceramic;
  }
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $babyblue;
  padding: 1rem;

  button {
    padding: 1rem;
    margin: 0.25rem;
    border-radius: 0.25rem;
  }

  .login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    fieldset {
      width: 50%;
      margin: auto;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      border: none;

      * {
        margin: auto;
        text-align: center;
        font-size: 1rem;
        border-radius: 0.25rem;
      }

      label {
        width: 50%;
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      input {
        width: 80%;
        padding: 0.5rem 0;
      }
    }
  }

  .contact-form {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    fieldset {
      width: 75%;
      margin: auto;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      border: none;

      * {
        margin: auto;
        text-align: center;
        font-size: 1rem;
        border-radius: 0.25rem;
      }

      label {
        width: 50%;
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      input {
        width: 80%;
        padding: 0.5rem 0;
      }

      textarea {
        width: 80%;
        height: 25vh;
        resize: none;
        font-family: Arial, Helvetica, sans-serif;
      }
    }

  }

}

.successful {
  background-color: rgb(73, 168, 73) !important;
}

.reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  h2 {
    text-align: center;
    margin: 1rem;
  }
  
  .review-card {
    width: 90%;
    border: 0.25rem solid $tarmac;
    border-bottom: none;
    padding: 1rem;
    text-align: center;
    
    * {
      font-size: 1.5rem;
    }

    &:last-of-type {
      border-bottom: 0.25rem solid $tarmac;
    }
  }
}

.services-text {
  width: 100%;
  border: 1px solid red;
}

.text-wrapper {
  padding: 1rem;
  height: 100%;
  width: 100%;

  * {
    margin-bottom: 0.5rem;
  }
}

@media only screen and (max-width: 952px) {
  .form-container {
    .login-form {
      width: 100%;

      fieldset {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        padding: 1rem;

        label {
          width: stretch;
          font-size: 1.5rem;
          margin-bottom: 1rem;
        }

        input {
          width: stretch;
          padding: 0.5rem 0;
        }
      }
    }
  }
  
}