@import './colours.scss';


// Formatting for Homepage-Background-Image + Content
.bg-image {
    background-image: url(../assets/home_bg.jpg);
    background-attachment: fixed;
    background-size: cover !important;
    background-position: 10%;
    overflow: hidden;
    height: 74vh;
    min-width: 100%;
    min-height: 100%;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -100;
        background: rgba(#444, 0.2);
    }
}


.home-hero-text-box {
// Secondary header
margin-top: 3rem;
color: #fff;
line-height: 5rem;

    h1, .secondary-text {
        font-size: 5rem;
        font-weight: 400;
        }
        .secondary-text { color: $primary_purple; }

        h3 {
            font-weight: 800;
        }
}
