@import './colours.scss';

nav {
  background: $babyblue;
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;

  ul {
    width: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    float: right;

    * {
      text-decoration: none;
    }

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      width: stretch;
      height: 100%;
      li {
        color: white;
        border-radius: 1rem;
        text-transform: uppercase;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &:active, &:hover {
          // background: #1b9cff67;
          background: rgba(60, 55, 68, 0.438);;
          transition: 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) all;
        }
      }
    }
  }
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #B66FB3;
  width: 25%;
  height: 100%;
  
  * {
    cursor: pointer;
  }

  label {
    font-size: 2rem;
  }
}

.checkbtn {
  color: white;
  float: right;
  line-height: 5rem;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

// @media (max-width: 952px){
//   label.logo {
//     font-size: 30px;
//     padding-left: 50px;
//   }
//   nav ul li a {
//     font-size: 16px;
//   }
// }

@media only screen and (max-width: 952px){

  nav {

    .checkbtn {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      
      i {
        font-size: 2rem;;
      }
    }

    .logo {
      width: 100%;
      transform: translateX(-5%);
    }

    ul {
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      position: fixed;
      width: 90%;
      height: 89%;
      background: rgb(60, 55, 68);
      top: 5rem;
      left: -100%;
      text-align: center;
    }

    a:hover, a.active {
      background: none;
      color: black;
    }

    #check:checked ~ ul {
      width: 100%;
      left: 0%;
    }
  }
}