.navbar {
  background-color: rgb(187, 189, 246);
}

.navbar-item {
  margin-left: 2rem;

  &:hover {
    background-color: rgb(229, 212, 237);
  }
}
.navbar-icon {
  padding-right: 6px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 450px;
  align-items: center;
  background: rgb(187, 189, 246);
}

.contact-label {
  display: block;
  position: relative;
  margin: 1rem;
}

@media screen and (max-width: 600px) {
  .navbar-burger {
    display: block;

    &:span {
      background-color: grey;
      display: block;
      position: relative;
      width: 3.5rem;
      height: .4rem;
      margin-bottom: .7rem;
      transition: ease-in-out 0.2s;
    }
  }
}
