@import url('https://fonts.googleapis.com/css?family=Amarante');
@import './colours.scss';

* {
  padding: 0;
  margin: 0;
  text-decoraction: none;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Amarante', cursive;
}

nav {
  background: #3C3744;
  height: 5rem;
  width: 100%;
}

label.logo {
  color: white;
  font-size: 30px;
  line-height: 5rem;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 5rem;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 2rem;
  text-transform: uppercase;
}

a.active, a:hover {
  background: #1b9bff;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 5rem;
  margin-right: 40px;
  cursor: pointer;
  display: none;;
}

#check {
  display: none;
}

@media (max-width: 952px){
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 952px){
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li {
    display: block;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover, a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

.contact-form {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 650px;
  height: 100vh;
  align-items: center;
  background: rgb(187, 189, 246);
  width: 100vw;
}

.successful {
  background-color: rgb(73, 168, 73) !important;
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  transform: scale(1.25);
}

.content-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  height: 100%;
  align-items: center;
  border: 1px solid red;
}

.pagecontent {
  width: 80vw;
  text-align: left;
  background-color: $babyblue;
  padding: 1rem;
  border-radius: 0.5rem;
}

// .pagecontent > div {
// }

.contact-header {
  font-size: 29px;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  position: absolute;
}

.contact-label {
  display: block;
  position: relative;
  margin: 1rem;
}
.header {
  display: absolute;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.about-container {
  display: inline-block;
  justify-content: center;
  align-content: center;
  text-align: center;
  height: 600px;
}

.successful {
  background-color: rgb(73, 168, 73) !important;
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  transform: scale(1.25);
}

.footer {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  text-align: center;
  bottom: 0rem;
  padding: 1.5rem;
  font-size: 1.5rem;;

  i {
    font-size: 2rem;
  }
}

.services-box {
  background-color: $babyblue;
}

.services-cards {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .service-card {
    min-width: 50%;
    text-align: center;
  }
}
